footer {
    background-color:#af7f31eb; /* Set the footer background to white */
    color: white;
}
.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
    color: white;
}

.socialIcons {
    display: flex;
    justify-content: center;
}
.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white; /* Set the background of social icons to black */
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i {
    font-size: 2em;
    color: #825700; /* Set the color of icons to white */
    opacity: 0.9;
}
/* Hover effect on social media icon */
.socialIcons a:hover {
    background-color: #825700; /* Set the hover background to white */
    transition: 0.5s;
}
.socialIcons a:hover i {
    color: white; /* Set the hover color of icons to black */
    transition: 0.5s;
}
.footerNav {
    margin: 30px 0;
}
.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a {
    color: white; /* Set the text color of links to black */
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover {
    opacity: 1;
}
.footerBottom {
    background-color: white; /* Set the background of footer bottom to white */
    
    text-align: center;
}
.footerBottom p {
   background-color: #cea668eb;
    color:#523102eb; /* Set text color to black */
    padding: 20px;
}
.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    }
    .footerNav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }
}